.resources-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    background-color: lightgrey
}

.resources-header-left {
    width: 40vw;
}

.resources-header-right {
    width: 50vw;
}

.resource-content-container {
    display: flex;
    flex-direction: row;
}

.resource-filters {
    width: 15vw;
}

.resource-filter-tag {
    width: 100px;
    height: 20px;
    background-color:lightgrey;
    margin-left: 10px;
    margin-top: 5px;
    border-radius: 25%;
}

.resource-thumbnail-placeholder {
    width: 100px;
    height: 140px;
    background-color: #BF2885;
    justify-self: center;
}