body {
  margin: 0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h3 {
  color: #4CBED3;
}

h4 {
  color: #152943;
}

h2 {
  color: #BF2885;
}

button {
  background-color: #BF2885;
  font-size: medium;
  border: 1px solid #BF2885;
  color: white;
  width: auto;
  margin-left: 5px;
}
